.text_type_caption {
  font-family: "Formular";
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}
@media (max-width: 568px) {
  .text_type_caption {
    font-size: 12px;
    line-height: 16px;
  }
}
