.menu__link {
  border-radius: 16px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__link:hover::before {
  display: block;
  content: '';
  width: 10px;
  height: 24px;
  border: 1px solid #242424;
  border-color: #242424 transparent #242424 #242424;
  border-radius: 20px 0px 0px 20px;
}

.menu__link:hover::after {
  display: block;
  content: '';
  width: 10px;
  height: 24px;
  border: 1px solid #242424;
  border-color: #242424 #242424 #242424 transparent;
  border-radius: 0px 20px 20px 0px;
}