.video__item {
  position: relative;
  width: 100%;
  max-width: 716px;
  height: 403px;
  background-image: url('../../../images/video-big-size.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
